body {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 252, 214) 0%,
    rgba(255, 102, 102, 0.44) 90%
  );
  font-family: "Indie Flower";
}

.btn {
  background: #430f58;
  color: white;
}

h1 {
  color: #c50d66;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

li {
  color: ;
  font-size: 16px;
  font-weight: 250;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

#temp {
  font-size: 24px;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  border: 1px solid;
  border-radius: 25px;
  color: #ff0000;
  height: 700px;
  margin: 30px auto;
  max-width: 500px;
  padding: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-min {
  opacity: 0.5;
}

.weather-forecast-temps {
  font-size: 13px;
}

.weather-temperature .active {
  color: black;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature img {
  height: 64px;
  margin-right: 5px;
  width: 64px;
}

.weather-temperature strong {
  color: #c50d66;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 16px;
  top: -34px;
}
