body {
  background: linear-gradient(
    179.4deg,
    rgb(12, 20, 69) -16.9%,
    rgb(71, 30, 84) 119.9%
  );
  font-family: "Indie Flower";
}

.btn {
  background: #f70776;
  border: 1px solid #680747;
  border-radius: 12px;
  color: white;
  float: left;
  font-size: 16px;
  padding: 10px 24px;
  width: 100px;
}

.btn:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  padding: 30px;
}

h1 {
  color: #680747;
  font-size: 40px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
}

.hosted {
  padding: 20px;
}

li {
  color: #c3195d;
  font-size: 20px;
  font-weight: 250;
  line-height: 19px;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:first letter {
  text-transform: capitalize;
}

.overview {
  margin-bottom: 20px;
}

#temp {
  font-size: 32px;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  border: 1px solid #c3195d;
  border-radius: 25px;
  color: #05004e;
  height: 600px;
  margin: 30px auto;
  max-width: 700px;
  padding: 20px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-day {
  font-size: 24px;
  opacity: 0.5;
}

.weather-forecast-min {
  font-size: 20px;
  opacity: 0.5;
}

.weather-forecast-temps {
  font-size: 20px;
}

.weather-temperature .active {
  color: black;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-temperature img {
  height: 64px;
  margin-right: 5px;
  width: 64px;
}

.weather-temperature strong {
  color: #680747;
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  font-size: 16px;
  top: -34px;
}
