li {
  list-style: none;
}

li:first letter {
  text-transform: capitalize;
}

#temp {
  font-size: 24px;
}

.weather-temperature .active {
  color: black;
}

.weather-temperature .active:hover {
  text-decoration: none;
}